.buttonBack {
    margin-top: -70px;
    margin-bottom: 22.4px;
    margin-left: 20px;
    display: flex;
    color: #4A76A8;
    /* margin-left: 15px; */
  
  }
  
  .buttonBack i {
    font-size: 250%;
  
  }
  
  .buttonBack h3 {
    margin-left: 5px;
    color: #4A76A8;
  }
  
  .buttonBack:hover h3 {
    color: #F62A54;
  }
  
  .buttonBack:hover i {
    color: #F62A54;
    
  }
/* --------------------------------------------------------- */

.headerPlayLists {
    padding-top: 80px;
  }
  
  .headerPlayLists hr {
    margin: 0;
  
  }
  
  
  .headerPlayLists h1 {
      margin-left: 55px;
      color: #4A76A8;
  }
