.descriptionBlock {
    display: inline-block;
    width: 600px;
    /* max-height: 710px; */
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 10px;
    margin-bottom: 30px;
    background-color: #fff;
    /* background-image: url(https://image.freepik.com/free-photo/_1962-1376.jpg); */
}

.descriptionBlock h2 {
    max-width: 400px;
}

.headerinfo {
    display: flex;
}

.profile {
    display: flex;
}

.allProfile {
    height: auto;    
}

.headerinfo p{
    margin-top: 5px;
    
}

.avatarFrame {
    display: block;
    width: 340px;
    height: 470px;
    border-radius: 10px;
    background-color: #fff;
    margin-top: 10px;
    margin-left: 15px;
}

.avatar img{
    width: 300px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border: 2px solid #fff;
}

.rateStars {
    margin-left: 60px;
}

.contacts {
    list-style: none;
    font-size: 120%;
    margin-top: 4px;
}

.profileStatus {
    padding: 2px;
}

.profileStatus span:hover {
    width: fit-content;
    background-color: rgb(197, 197, 197);
    border-radius: 5px;
}


.info {
    margin-left: 10px;
    font-size: 110%;
    margin-top: 10px;
}

.prosts {
    margin-bottom: 30px;
}
